*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus,
*::before:focus,
*::after:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
@media (max-width: 37.5em) {
  html {
    font-size: 55%;
  }
}

body {
  user-select: none;
}

body {
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
}

.card {
  border-radius: 1rem;
  box-shadow: 1rem 2rem 4rem 2rem hsl(221, 100%, 96%);
  max-height: 50rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 65rem;
}
@media (max-width: 75em) {
  .card {
    box-shadow: none;
    left: 0;
    margin: 10rem auto;
    position: static;
    top: 0;
    transform: translate(0, 0);
  }
}
@media (max-width: 37.5em) {
  .card {
    box-shadow: none;
  }
}
.card__result {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 2rem;
  color: hsl(241, 100%, 89%);
  float: left;
  height: 100%;
  padding: 4rem;
  width: 50%;
}
@media (max-width: 37.5em) {
  .card__result {
    border-radius: 3rem;
    display: block;
    left: -1px;
    height: 65vh;
    margin-bottom: 5rem;
    position: absolute;
    top: -20rem;
    width: 98vw;
  }
  .card__result::after {
    content: "";
    display: table;
    clear: both;
  }
}
.card__circle {
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  height: 20rem;
  margin: 3rem auto;
  position: relative;
  width: 20rem;
}
@media (max-width: 37.5em) {
  .card__circle {
    height: 18rem;
    width: 18rem;
  }
}
.card__score-text {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card__score {
  color: hsl(0, 0%, 100%);
}
.card__rating {
  color: hsl(0, 0%, 100%);
  display: block;
  margin-bottom: 1rem;
}
.card__summary {
  border-radius: 2rem;
  color: hsla(241, 72%, 46%, 0);
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  padding: 4rem;
}
@media (max-width: 37.5em) {
  .card__summary {
    height: 50vh;
    position: relative;
    top: 28rem;
    width: 98vw;
  }
  .card__summary::after {
    content: "";
    display: table;
    clear: both;
  }
}
.card__heading {
  color: hsl(224, 30%, 27%);
  margin-bottom: 3rem;
}
.card__tab {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
.card__tab:not(:last-child) {
  margin-bottom: 2rem;
}
.card__tab--reaction {
  background-color: rgba(255, 87, 87, 0.1);
}
.card__tab--reaction-text {
  color: hsl(0, 100%, 67%);
}
.card__tab--memory {
  background-color: rgba(255, 176, 31, 0.1);
}
.card__tab--memory-text {
  color: hsl(39, 100%, 56%);
}
.card__tab--verbal {
  background-color: rgba(0, 189, 145, 0.1);
}
.card__tab--verbal-text {
  color: hsl(166, 100%, 37%);
}
.card__tab--visual {
  background-color: hsl(221, 100%, 96%);
}
.card__tab--visual-text {
  color: hsl(234, 85%, 45%);
}
.card__tab-text {
  color: rgba(78, 33, 202, 0.4);
}
.card__tab-score {
  color: hsl(224, 30%, 27%);
}
.card__tab-icon {
  margin-right: 1rem;
  transform: translateY(0.4rem);
}
.card__btn {
  background-color: hsl(224, 30%, 27%);
  border-radius: 3rem;
  display: block;
  margin: 4rem 0;
  padding: 1.5rem 2rem;
}
.card__btn:link, .card__btn:visited {
  color: hsl(0, 0%, 100%);
}
.card__btn:focus, .card__btn:hover {
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
}

.attribution {
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 37.5em) {
  .attribution {
    bottom: -20rem;
  }
}

body {
  font-family: "Hanken Grotesk", serif;
  font-size: 1.8rem;
}

.card__result {
  text-align: center;
}
.card__circle {
  text-align: center;
}
.card__score {
  display: block;
  font-size: 8rem;
  font-weight: 800;
}
@media (max-width: 37.5em) {
  .card__score {
    font-size: 6.5rem;
  }
}
.card__rating {
  font-size: 2.5rem;
  font-weight: 700;
}
.card__summary-tab {
  text-align: center;
}
.card__btn {
  text-align: center;
}
.card__btn:link, .card__btn:visited {
  font-weight: 700;
  text-decoration: none;
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
