@use "variables" as v;
@use "mixins" as m;

body {
  font-family: "Hanken Grotesk", serif;
  font-size: v.$font-size-paragraph;
}
.card {
  text-align: center;
  &__circle {
    text-align: center;
  }
  &__score {
    display: block;
    font-size: 8rem;
    font-weight: v.$font-weight-bold;
  }
  &__rating {
    font-size: 2.5rem;
    font-weight: v.$font-weight-medium;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
