@use "variables" as v;
@use "mixins" as m;

body {
  font-family: "Hanken Grotesk", serif;
  font-size: v.$font-size-paragraph;
}
.card {
  &__result {
    text-align: center;
  }
  &__circle {
    text-align: center;
  }
  &__score {
    display: block;
    font-size: 8rem;
    font-weight: v.$font-weight-bold;
    @include m.respond(phone) {
      font-size: 6.5rem;
    }
  }
  &__rating {
    font-size: 2.5rem;
    font-weight: v.$font-weight-medium;
  }
  &__summary-tab {
    text-align: center;
  }
  &__btn {
    text-align: center;
    &:link, &:visited {
      font-weight: v.$font-weight-medium;
     text-decoration: none;
     
    }
  }
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
}
