// COLORS
$color-blue-cobalt: hsl(234, 85%, 45%);
$color-blue-grey: hsl(224, 30%, 27%);
$color-blue-pale: hsl(221, 100%, 96%);
$color-blue-persian: hsla(241, 72%, 46%, 0); // circle | gradients
$color-green-teal: hsl(166, 100%, 37%);
$color-light-lavender: hsl(241, 100%, 89%);
$color-light-red: hsl(0, 100%, 67%);
$color-light-royal-blue: hsl(241, 81%, 54%); // background | gradients
$color-light-slate-blue: hsl(252, 100%, 67%); // background | gradients
$color-orangey-yellow: hsl(39, 100%, 56%);
$color-blue-violet: hsla(256, 72%, 46%, 1); // circle | gradients
$color-white: hsl(0, 0%, 100%);

// FONTS
$font-size-paragraph: 1.8rem;
$font-weight-bold: 800;
$font-weight-medium: 700;
$font-weight-light: 500;

// LAYOUT
$layout-width-desktop: 144rem;
$layout-width-mobile: 37.5rem;
